html {
  --color-base: #191724;
  --color-surface: #1f1d2e;
  --color-overlay: #26233a;
  --color-muted: #6e6a86;
  --color-subtle: #908caa;
  --color-text: #e0def4;
  --color-love: #eb6f92;
  --color-gold: #f6c177;
  --color-rose: #ebbcba;
  --color-pine: #31748f;
  --color-foam: #9ccfd8;
  --color-iris: #c4a7e7;
  --color-highlight-low: #21202e;
  --color-highlight-med: #403d52;
  --color-highlight-high: #524f67;
}

@media (prefers-color-scheme: light) {
  html {
    --color-base: #faf4ed;
    --color-surface: #fffaf3;
    --color-overlay: #f2e9e1;
    --color-muted: #9893a5;
    --color-subtle: #797593;
    --color-text: #575279;
    --color-love: #b4637a;
    --color-gold: #ea9d34;
    --color-rose: #d7827e;
    --color-pine: #286983;
    --color-foam: #56949f;
    --color-iris: #907aa9;
    --color-highlight-low: #f4ede8;
    --color-highlight-med: #dfdad9;
    --color-highlight-hight: #cecacd;
  }
}

html {
  font-family: monospace;
  font-size: 16px;
  line-height: 2;
  background: var(--color-base);
  color: var(--color-text);
}

/* CRT effect: scanlines */
html::before {
  content: '';
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;

  --scanline-height: 2px;
  --scanline-gap: 1px;
  --gap-color: color-mix(in srgb, var(--color-base) 60%, #0000);

  background-image: repeating-linear-gradient(to bottom, #0000, #0000 var(--scanline-height), var(--gap-color) var(--scanline-height), var(--gap-color) calc(var(--scanline-height) + var(--scanline-gap)));
}

/* CRT effect: beam scanning across screen */
/* As of writing, Firefox only supports @property in nightly, but all other browsers implement it */
@property --beam-position {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: false;
}

html::after {
  content: '';
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;

  background-image: repeating-linear-gradient(to bottom, #0000, #fff9 var(--beam-position), #0000 var(--beam-position), #fff9 calc(100% + var(--beam-position)));
  mix-blend-mode: overlay;
  animation: scanning-beam 10s infinite linear;
}

@keyframes scanning-beam {
  0% {
    --beam-position: 0%;
  }
  100% {
    --beam-position: 100%;
  }
}

@media (prefers-reduced-motion: reduce) {
  html::after {
    display: none;
  }
}

body {
  max-width: 800px;
  margin: 0 auto;
  padding: 12px;
}

a {
  color: var(--color-foam);
  text-decoration: underline dotted;
}

a:hover {
  text-decoration: underline;
}

a.nounder {
  text-decoration: none;
}

a.nounder:hover {
  text-decoration: underline;
}

header {
  display: flex;
  gap: 8px;
  color: var(--color-subtle);
}

header a {
  color: unset;
}

header .user {
  color: var(--color-love);
}

header .host {
  color: var(--color-gold);
}

header .path {
  color: var(--color-foam);
}

header nav {
  display: flex;
  gap: 16px;
}

header nav a {
  color: var(--color-foam)
}

header nav a::before {
  content: 'cd ';
  content: 'cd ' / '';
  color: var(--color-subtle);
}

/* Syntax Highlighting */
.chroma .err, .chroma .gd {
  color: var(--color-love);
}

.chroma .k, .chroma .kc, .chroma .kd, .chroma .kp, .chroma .kr, .chroma .kt, .chroma .ne, .chroma .se  {
  color: var(--color-pine);
}

.chroma .kn, .chroma .gu {
  color: var(--color-iris);
}

.chroma .n, .chroma .na, .chroma .nb, .chroma .bp, .chroma .ni, .chroma .ne, .chroma .nf, .chroma .fm, .chroma .nl, .chroma .nn, .chroma .py, .chroma .nt, .chroma .nv, .chroma .vc, .chroma .vg, .chroma .vi, .chroma .vm {
  color: var(--color-rose);
}

.chroma .nc, .chroma .gi {
  color: var(--color-foam);
}

.chroma .no, .chroma .l, .chroma .ld, .chroma .s, .chroma .sa, .chroma .sb, .chroma .sc, .chroma .dl, .chroma .sd, .chroma .s2,  .chroma .sh, .chroma .si, .chroma .sx, .chroma .sr, .chroma .sl, .chroma .ss, .chroma .m,  .chroma .mb, .chroma .mh, .chroma .mi, .chroma .il, .chroma .mo {
  color: var(--color-gold);
}

.chroma .nd, .chroma .o, .chroma .ow, .chroma .p {
  color: var(--color-subtle);
}

.chroma .c, .chroma .ch, .chroma .cm, .chroma .cs, .chroma .cp, .chroma .cpf {
  color: var(--color-muted);
}

/* make markdown look kinda like the source code */

main > h1::before,
main > h2::before,
.markdown h1::before,
.markdown h2::before,
.markdown h3::before,
.markdown h4::before,
.markdown h5::before,
.markdown h6::before {
  color: var(--color-love);
}

main > h1::before,
.markdown h1::before {
  content: '# ';
  content: '# ' / '';
}

main > h2::before,
.markdown h2::before {
  content: '## ';
  content: '## ' / '';
}

.markdown h3::before {
  content: '### ';
  content: '### ' / '';
}

.markdown h4::before {
  content: '#### ';
  content: '#### ' / '';
}

.markdown h5::before {
  content: '##### ';
  content: '##### ' / '';
}

.markdown h6::before {
  content: '###### ';
  content: '###### ' / '';
}

.markdown li::marker {
  color: var(--color-love);
}

.markdown ul li::marker {
  content: '* ';
  content: '* ' / '';
}

.markdown em::before, .markdown em::after {
  color: var(--color-love);
  content: '*';
  content: '*' / '';
}

.markdown strong::before, .markdown strong::after {
  color: var(--color-love);
  content: '**';
  content: '**' / '';
}

.markdown del::before, .markdown del::after {
  color: var(--color-love);
  content: '~~';
  content: '~~' / '';
  display: inline-block; /* to prevent it from being strikethrough */
}

.markdown pre, .markdown code, .markdown kbd {
  background: var(--color-overlay);
  padding: 6px 12px;
  border-radius: 8px;
}

.markdown code::before, .markdown code::after {
  color: var(--color-love);
  content: '`';
  content: '`' / '';
}

.markdown pre code {
  background: none;
  padding: 0;
  border-radius: 0;
  tab-size: 2;
}

.markdown pre {
  overflow-x: auto;
}

.markdown pre::before, .markdown pre::after {
  color: var(--color-love);
  content: '```';
  content: '```' / '';
  display: block;
}

.markdown pre code::before, .markdown pre code::after {
  content: '';
}

.markdown blockquote {
  position: relative;
}

.markdown blockquote::before {
  content: '>';
  content: '>' / '';
  color: var(--color-love);
  position: absolute;
  left: -2em;
}

hr {
  border: none;
}

hr::before {
  content: '---';
  content: '---' / '';
  color: var(--color-love);
}
