<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta iname="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles.css">
  {{ template "head" . }}
</head>
<body>
  <header>
    {{/* todo: turn path part into breadcrumbs */}}
    <a href="/"><span class="user">user</span>@<span class="host">lunaa.ch</span>:<span class="path">~</span>$</a>
    <nav>
      <a href="/">~</a>
      <a href="/projects.html">~/projects</a>
    </nav>
  </header>
  <main>
    {{ template "content" . }}
  </main>
  <footer>
    <div style="text-alignment: center;">
      <img src="/img/acab.gif" alt="all cops are bastards">
      <img src="/img/anarchy-now.gif" alt="anarchy now!">
      <img src="/img/browser.gif" alt="best viewed with any browser on any os" title="yes, even chrome will work. even though i don't like it.">
      <a href="https://privacytests.org"><img src="/img/chrome-evil.gif" alt="google chrome is evil!" title="google shouldn't have a monopoly on browsers"></a>
      <a href="https://jointhefediverse.net"><img src="/img/federate-now.jpg" alt="federate now!" title="join the fediverse pls it's very cool and full of based people"></a>
      <a href="https://gnu.org"><img src="/img/gnu-linux.gif" alt="made on gnu/linux" title="specifically, made on nixos"></a>
      <a href="https://fuckoffgoogle.de"><img src="/img/google_stand.gif" alt="stand up to google" title="google is evil"></a>
      <a href="https://yesterweb.org/no-to-web3/"><img src="/img/saynotoweb3.gif" alt="say no to web 3" title="web3 is a scam"></a>
      <img src="/img/piracy-now.gif" alt="piracy now!" title="piracy is very based">
      <img src="/img/queer.png" alt="queer pride!" title="i'm queer as fuuuuuuck">
      <a href="https://cyber.dabamos.de/88x31/"><img src="/img/88x31.gif" alt="88x31" title="lots of these badges there"></a>
      <img src="/img/javascriptfree.gif" alt="javascript free page" title="javascript? what's that? is it like java?">
      <img src="/img/jellyfin.gif" alt="jellyfin" title="it's a pretty cool media server">
      <img src="/img/nocookie.gif" alt="this site is certified 100% cookie free" title="sorry, the cookie monster ate them all so we have no cookies for you">
      <a href="https://pouet.net"><img src="/img/pouet.gif" alt="pouët.net" title="they got some cool demos over there"></a>
      <a href="https://proxmox.com"><img src="/img/proxmox.gif" alt="proxmox" title="it's a nice virtualization platform"></a>
      <img src="/img/transrights-now.gif" alt="trans rights now!" title="we're people too y'know?"></a>
      <img src="/img/no-fucking-thanks.gif" alt="nft? no fucking thanks!" title="nfts suck"></a>
    </div>
  </footer>
</body>
</main>
